<div class="container">
  <h2>Cliente</h2>
  <div class="my-4">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre"/>
    </div>
    <div class="mb-3">
      <label for="cif" class="form-label">CIF</label>
      <input type="text" class="form-control" id="cif" [(ngModel)]="cif"/>
    </div>
    <div class="mb-3">
      <label for="direccion" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="direccion" [(ngModel)]="direccion"/>
    </div>
    <div class="mb-3">
      <label for="grupo" class="form-label">Grupo</label>
      <select class="form-select" id="grupo" [(ngModel)]="grupo">
        <option selected>Sin definir</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <div class="d-flex justify-content-between">
      <input type="button" value="Guardar" class="btn btn-primary" (click)="guardar()">
      <input type="button" value="Eliminar Último" class="btn btn-danger" (click)="eliminarUltimo()">
    </div>
  </div>

  <app-listado [clientes]="clientes"></app-listado>
</div>